<!-- <div class="card flex justify-content-center mb-2">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="649" [showJumpToPageInput]="true"></p-paginator>
</div> -->
<div *ngIf="pokemonList && pokemonList.length > 0; else elseBlock">
    <div class="grid">

        <div class="col-12 md:col-6 lg:col-3" *ngFor="let pokemon of pokemonList">
            <!-- Start card -->
            <div class="card flex justify-content-center">
                <p-card [header]="pokemon.name | titlecase" [subheader]="'ID: '+ pokemon.id"
                    [style]="{ width: '380px' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="pokemon.imgUrl"
                            style="width: 200px; height: 200px; margin-left: auto; margin-right: auto; display: block;"
                            class="p-2" />
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <a routerLink="/pokemon-by-name/{{pokemon.name}}" style="text-decoration: none;">
                            <p-button label="Detalles" styleClass="p-button-link"></p-button>
                        </a>
                    </ng-template>
                </p-card>
            </div>
            <!-- End card -->
        </div>

    </div>
</div>
<ng-template #elseBlock>
    <p>Loading list...</p>
</ng-template>
<div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="649" [showJumpToPageInput]="true"></p-paginator>
</div>